* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

main {
    position: relative;
    background-color: #0e0d0c;
    background-image: url(https://iili.io/RgWT0b.jpg);
    background-position: 100% 0%;
    background-attachment: fixed;
    background-size: contain;  
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    font-size: calc(10px + 2vmin);
    color: white;
}

.box {
    z-index: 2;
    position: sticky;
    top: 0;
    padding: 40px 20px;
}

.console {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.consolelog {
    width: 100%;
    box-sizing: border-box;
    background-color: #2d2d2d;
    border: 1px solid #e9dbdb;
    border-radius: 5px;
    padding: 10px;
    min-height: 100px;
    max-height: 300px;
    overflow: auto;
}

.box h6 {
    position: absolute;
    top: 1px;
    left: 75px;
    opacity: 0.7;
}

.categories {
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0;
    color: white;
    background-color: #2d2d2d;
    font-size: 18px;
}

.snippets {
    max-width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.btn-search {
    box-sizing: border-box;
    padding: 10px;
    color: white;
    background-color: #2d2d2d;
    font-size: 18px;
}

#code {
    width: 97%;
    padding: 15px;
    margin: 0 15px;
    padding: 10px;
    color: white;
    background-color: rgba(105, 105, 105, 0.218);
    border: 1px solid #FFC629;
    border-radius: 15px;
    transition: all 0.5s ease;
    font-size: 20px;
}

#code:hover, #code:active {
    background-color: #0e0d0c;
}

pre {
    position: relative;
    transition: all 1s ease;
}

pre:hover {
    box-shadow: 0 0 60px 20px #FFC629, 0 0 100px 40px rgba(255, 0, 255, 0.1), 0 0 100px 90px rgba(0, 255, 255, 0.1) !important;
}

.controls{
    position: absolute;
    top: -5px;
    right: 0;
}

pre button {
    color: #FFC629;
    padding: 2px;
    margin-right: 5px;
    background-color: rgba(105, 105, 105, 0.218);
    border: 1px solid #FFC629;
    border-radius: 5px;
    transition: all 0.5s ease;
}

pre button:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(105, 105, 105, 0.218);
}

.App-link {
    color: #FFC629;
}

.btn-executar {
    margin: 15px;
    padding: 10px;
    color: #FFC629;
    background-color: rgba(105, 105, 105, 0.218);
    border: 1px solid #FFC629;
    border-radius: 5px;
    transition: all 0.5s ease;
    font-size: 20px;
}

.btn-executar:hover {
    color: white;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: all 0.5s ease;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: all 0.5s ease;
}